@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

:root{
--color-background: #1f1f1f;
--cor-paragrafo: #333;
--cor-paradox: #7ed957;
--cor-input: #252525;
--cor-inputplaceholder: #8a8a8a;
}


body{
    background: var(--color-background);
}

main{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.main{
    border: solid 2px #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0);
}

.header_main h1{
    color: white;
}

.rainbow {
    background: linear-gradient(90deg, #7ed957, #6cb94a, #0097b2, #0097b2, #0097b2, #7ed957, #7ed957);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 2s linear infinite;
  }

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10%;
}

form input{
    background-color: var(--cor-input);
    border: none;
    padding: 15px;
    border: solid 1px #606060;
    border-radius: 10px;
    color: white;
    font-family: "Montserrat", serif;
    width: 90%;
}

form input::placeholder{
    color: var(--cor-inputplaceholder);
    font-family: "Montserrat", serif;
}

#password{
    position: relative;
}

#show{
    color: var(--cor-inputplaceholder);
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 15px;
}

.checkbox{
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
}

.lembrar{
    display: flex;
}

.lembrar label{
    color: var(--cor-inputplaceholder);
    font-family: "Montserrat", serif;
}


.recuperar_senha a{
    color: var(--cor-inputplaceholder);
    font-family: "Montserrat", serif;
}

.recuperar_senha a:hover{
    color: rgb(66, 66, 255);
}

.button button{
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-family: "Roboto", serif;
    font-weight: bolder;
    background: linear-gradient(90deg, #7ed957, #6cb94a, #0097b2, #0097b2, #0097b2, #7ed957, #7ed957);
    background-size: 200% auto;
    animation: rainbow-animation 2s linear infinite;
    cursor: pointer;
}

.button button:hover{
    background: linear-gradient(90deg, #7ed957, #0097b2);
    color: var(--color-background);
}

.button p{
    color: var(--cor-inputplaceholder);
    font-family: "Montserrat", serif;
    margin-top: 5%;
}

.button a{
    background: linear-gradient(90deg, #7ed957, #6cb94a, #0097b2, #0097b2, #0097b2, #7ed957, #7ed957);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 2s linear infinite;
    font-weight: bolder;
    font-family: "Montserrat", serif;
}

@keyframes rainbow-animation {
    to {
      background-position: 200% center;
    }
  }
